<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c7339c0d-58b1-4836-bc57-49c6fedd5f3d/resourcegroups/projetofaculdade_api/providers/Microsoft.ContainerRegistry/registries/rte20231204214431</ContainerResourceId>
    <ContainerResourceName>rte20231204214431</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>rte20231204214431.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>rte</ContainerName>
    <EnvironmentName>rte-env-20231204212214</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://rte-app-20231204214303.whitebush-5d312333.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c7339c0d-58b1-4836-bc57-49c6fedd5f3d/resourceGroups/projetofaculdade_api/providers/Microsoft.App/containerapps/rte-app-20231204214303</ResourceId>
    <ResourceGroup>projetofaculdade_api</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>